
  /* fonts, colors, and variables */
    :root {
      font: 16px/135% Arial, Helvetica Neue, system, sans-serif;
      --foot-height: 2.5rem;
      user-select: none;
    }

  /* styles */
    :root, body {
      position: relative;
      min-height: 100%;
      height: 100vh;
      max-height: 100%;
      overflow: hidden;
    }

    * {
      box-sizing: border-box;
    }

    body {
      display: grid;
      grid-template-areas:
        "main-desktop"
        "nav-footer";
      grid-template-columns: 1fr;
      grid-template-rows: calc(100vh - var(--foot-height)) var(--foot-height);
      margin: 0;
      overflow: hidden;
    }

    button, input {
      font-size: inherit;
      color: inherit;
    }

    main.desktop {
      position: relative;
      grid-area: main-desktop;
      max-height: 100%;
      height: 100%;
      z-index: 2;
      margin: 0.5rem;
    }

    main.desktop {
      background: white;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    article.file {
      height: 111px;
      width: 85px;
      border: thin dotted grey;
      margin: 0.625rem 1.25rem;
      padding: 0.25rem;
      font-size: smaller;
      text-align: center;
      display: inline-block;
      overflow-wrap: anywhere;
      outline: none;
      overflow: hidden;
    }

    article.file div.content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }

    div.content {
      font-size: 0.8rem;
      line-height: 1rem;
    }

    article.file-open div.content, article.file-open div.content {
      width: fit-content;
    }

    article.file-open {
      position: absolute;
      top: 2rem;
      left: 2rem;
    }

    aside.open-dir, article.file-open {
      background: white;
      resize: both;
      z-index: 100;
      max-width: 100vw;
      max-height: 100vh;
      overflow: scroll;
      border-style: groove;
      border-width: 0.25rem;
      margin: 0.5rem;
    }

    div.topbar {
      position: sticky;
      top: 0;
      left: 0;
      background: white;
      margin: 0;
      padding: 0;
      width: 100%;
      height: auto;
      text-align: right;
    }

    div.topbar button {
      background: transparent;
      border: none;
      width: 3rem;
      text-align: center;
    }

    article.file-open div.content {

    }

    article.dir-open div.content {

    }

    article.file-open img {
      overflow: auto;
      max-width: calc(100vw - 6rem);
      max-height: calc(100vh - 6rem);
    }

    article.file div.content > img {
      transform: scale(3.0) translate(0, -50%);
    }

    article.file:hover {
      background: rgba(220,220,255,0.35);
    }

    article.file:focus {
      border: thin solid dodgerblue;
      background: rgba(220,220,255,0.5);
    }

    article.file:focus:hover {
      background: rgba(220,220,255,0.85);
    }
    
    aside.open-dir {
      position: absolute;
      top: 1rem;
      left: 1rem;
      width: 400px;
      height: 300px;
    }

    nav.footer {
      grid-area: nav-footer;
      display: flex;
      justify-content: stretch;
      align-items: stretch;
      font-size: smaller;
      background: black;
      color: white;
      max-height: var(--foot-height);
      z-index: 3;
    }

    nav.footer button {
      background: transparent;
      border: 0;
    }

    nav.footer section, nav.footer section div {
      display: flex;
    }

    nav.footer .main-popups {
      justify-self: flex-start;
    }

    nav.footer .tasks-and-pins {
      flex-grow: 1;
      justif-content: flex-start;
    }

    nav.footer .status-and-infos {
      justify-self: flex-end;
      justify-content: flex-end;
    }

    nav.footer .date-and-time {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    nav.footer .popup {
      left: 0;
      position: absolute;
      top: 0;
      height: 61.8vh;
      width: 61.8vw;
      background: black;
      transition: tranform 1s ease;
      z-index: -1;
    }

    nav.footer aside.popup {

    }

    nav.footer article.main.popup {
    }

    nav.footer input[name="search"].box {
      padding-left: 2rem;
      background: rgb(70,70,70);
      border: thin solid white;
    }

    nav.footer input[name="search"].box:focus {
      background: white;
      color: black;
      outline: medium solid dodgerblue;
    }

    nav.footer input[name="search"].box:focus + .search-icon {
      color: black;
    }

    .popup-trigger:focus ~ .popup {
      transform: translate(0,-100%);
    }


    nav.footer button[name="win66"].main {

    }

    section.search-box-popup, section.win-button-popup {
      position: relative;
    }

    section.search-box-popup span.search-icon {
      font-size: xx-large;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 0;
      top: 0;
      z-index: 5;
      width: 1rem;
      height: 1rem;
      padding: 0.5rem;
      display: block;
      color: white;
      background: transparent;
    }

    /* function related */
      
      iframe#response {
        z-index:10;
        background: silver;
      }

    /* overrides */
    .open-dir, .file-open {
      min-width: 6rem;
      min-height: 2rem;
    }

